<!DOCTYPE html>
<html>
   <head>
      <title>Mini-HLTV</title>
      <link rel="stylesheet" type="text/css" href="/styles/index.css">
   </head>
   <header>
     <a href="/">
       <button style="background-color: CornflowerBlue; border: none;"><h1>Mini HLTV</h1>
     </a>
   </header>
   <body>
      {{{body}}}
   </body>
</html>
